.resume {
    @apply flex flex-col items-center text-white;
    width: 800px;
    padding: 50px 0;

    h1 {
        @apply text-3xl;
        margin-top: 20px;
    }

    h2 {
        @apply text-red-700 text-xl;
    }

    p {
        @apply mt-4
    }

    h3 {
        @apply text-xl m-6
    }

}